{% extends 'PaginaBlog/index.html' %}

{% block title %}Acerca de{% endblock %}

{% block contenido %}
<div class="container mt-1">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h2 class="card-title mb-4">Acerca de este Blog</h2>
            <p class="card-text">
                Este blog fue creado por <strong>Valentin Fortunato</strong> para compartir conocimientos,
                ideas y novedades sobre programación.
            </p>
            <hr>
            <p class="text-primary">
                Proyecto realizado como trabajo final para el curso de Python - Coderhouse.
            </p>
            <p class="card-text">
                Me alegro de haber llegado hasta aca, eh avanzado mucho y voy a seguir practicando para poder dedicarme a esto.
            </p>
            <p>
                Aca les dejo mi GitHub:<a href="https://github.com/Valen06GG/ProyectoPagina">https://github.com/Valen06GG/ProyectoPagina</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}