{% extends 'PaginaBlog/index.html' %}
{% block title %}Buscar{% endblock %}

{% block contenido %}
<h2 class="mb-4">Buscar {{ tipo|title }}</h2>

<form method="get" class="mb-3">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

{% if resultados %}
    <hr>
    <h3 class="mb-3">Resultados:</h3>
    <ul class="list-group text-start">
        {% for item in resultados %}
            <li class="list-group-item">
                {% if tipo == 'post' %}
                    <strong>Título:</strong> {{ item.titulo }}<br>
                    <strong>Autor:</strong> {{ item.autor.nombre }}<br>
                    <strong>Categoría:</strong> {{ item.categoria.nombre }}<br>
                    <strong>Fecha:</strong> {{ item.fecha }}
                {% endif %}
            </li>
        {% endfor %}
        {% for item in resultados %}
            <li class="list-group-item">
                {% if tipo == 'autor' %}
                    <strong>Nombre:</strong> {{ item.nombre }}<br>
                    <strong>Email:</strong> {{ item.email }}
                {% elif tipo == 'categoria' %}
                    <strong>Nombre de Categoría:</strong> {{ item.nombre }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% elif form.cleaned_data %}
    <p class="text-danger mt-4">No se encontraron resultados.</p>
{% endif %}
{% endblock %}