{% extends 'PaginaBlog/index.html' %}

{% block contenido %}
<h2>Editar Perfil</h2>
<form method="post" class="needs-validation">
    {% csrf_token %}
    {{ formulario.as_p }}

    {% if avatar %}
        <a href="{% url 'upload_avatar' %}" class="btn btn-outline-primary">Editar Avatar</a>
    {% else %}
        <a href="{% url 'upload_avatar' %}" class="btn btn-outline-primary">Crear Avatar</a>
    {% endif %}

    <div class="d-flex justify-content-center gap-3 mt-4">
        <button type="submit" class="btn btn-outline-success">Guardar cambios</button>
        <a href="{% url 'Inicio' %}" class="btn btn-outline-danger">Cancelar</a>
    </div>
</form>
{% endblock %}