{% extends 'PaginaBlog/index.html' %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <h2>Subir o Cambiar Avatar</h2>

    <form method="post" enctype="multipart/form-data" class="needs-validation">
        {% csrf_token %}
        {{ form.as_p }}

        {% if avatar and avatar.imagen %}
            <div class="text-center mt-3">
                <img src="{{ avatar.imagen.url }}" alt="Avatar" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                <p>Imagen actual</p>
            </div>
        {% else %}
            <p>No tienes un avatar asignado.</p>
        {% endif %}

        <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-outline-success">Actualizar Avatar</button>
            <a href="{% url 'EditarPerfil' %}" class="btn btn-outline-danger">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}